
*.xml
*.txt
Assets/resources/fonts/ubuntu-font-family-0.83/TRADEMARKS.txt.meta
Assets/resources/fonts/ubuntu-font-family-0.83/README.txt.meta
Assets/resources/fonts/ubuntu-font-family-0.83/LICENCE.txt.meta
Assets/resources/fonts/ubuntu-font-family-0.83/copyright.txt.meta
Assets/resources/fonts/ubuntu-font-family-0.83/CONTRIBUTING.txt.meta
*.info
Library/metadata/00/00000000000000008000000000000000
*.iml
*.meta
Library/metadata/26/2682a692a2be7e14e901a738c7806da0
Library/metadata/2f/2f7e163ebeffe8a46ae53354c318df40
Library/metadata/2d/2d4d46c70fdd242668a56e99799e8540
Library/metadata/23/232c5d68761fdb74d8449bdd882a329a
*.bin
Temp/UnityLockfile
